.img-capa {
  max-width: 300px;
  max-height: 300px;
  height: auto;
  width: auto;
}

.box-geral {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  min-width: 580px;
}

.box-filme {
  width: 230px;
  height: 380px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: 1px 0px 4px 1px black;
  margin: 10px;
  border-radius: 5px;
}

.btns {
  display: flex;
}

.box-filme:hover {
  transform: scale(1.01);
  z-index: 2;
}

.filmBanner {
  position: absolute;
  max-width: 100%;
  max-height: 100%;
  width: 100%;
  height: 100%;
}

.maisInfo {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: flex;
  /*align-items: center;*/
  justify-content: center;
  margin: 20px 10px 0 10px;
  background-color: rgb(54, 163, 236);
}

.maisInfo:hover {
  cursor: pointer;
  box-shadow: 0px 0px 0px 3px rgba(0, 0, 0, 0.226);
}

.addFilme {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px 10px 0 10px;
  background-color: rgb(54, 236, 99);
}

.addFilme:hover {
  cursor: pointer;
  box-shadow: 0px 0px 0px 3px rgba(0, 0, 0, 0.226);
}

.boxInfoFilm {
  position: fixed;
  left: 50%;
  top: 55%;
  transform: translate(-50%, -55%);
  width: 90%;
  height: 90%;
  z-index: 6;
  box-shadow: 1px 0px 4px 1px black;
  border-radius: 5px;
  background-color: white;

}

.closeInfo {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 30px;
  height: 30px;
  background-color: red;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

.closeInfo:hover {
  cursor: pointer;
}

.effectFade {
  position: absolute;
  bottom: 300px;
  width: 100%;
  height: 60px;
  background: linear-gradient(0deg, #ffffffb4, rgba(0, 0, 0, 0.301));
  z-index: 5;
}

.infosFilm {
  position: absolute;
  background-color: #ffffffb4;
  width: 100%;
  height: 300px;
  bottom: 0px;
  display: flex;
  flex-direction: column;
  overflow: auto;
}

.infosFilm h1 {
  margin-left: 5%;
}

.infosFilm p {
  margin-left: 5%;
  max-width: 90%;
}

.notResul {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  opacity: 0.2;
}

/* search */
.box-search {
  display: flex;
  justify-content: center;
  padding: 30px;
  min-width: 700px;
}

input[type='text'] {
  height: 30px;
  padding: 3px;
}

#btn-search {
  font-size: 24px;
  color: rgb(216, 216, 216);
  margin-left: 10px;
}

#btn-search:hover {
  cursor: pointer;
}
